version: '3'

networks:
  default:
    driver: bridge

services:
  example-service:
    build:
      context: ./example-service
      dockerfile: ./docker/Dockerfile
    image: example-service:0.0.1
    ports:
      - "8080:8080"
      - "8083:8083"
    networks:
      default:
        aliases:
          - java.api.boilerplate.docker.com
          - example-service
#    depends_on:
#      - sb-admin

  sb-admin:
    build:
      context: ./sb-admin
      dockerfile: ./docker/Dockerfile
    image: sb-admin:0.0.1
    ports:
      - "9990:9990"
      - "9993:9993"
    networks:
      default:
        aliases:
          - sb.admin.docker.com
          - sb-admin