server:
  port: 8080
  
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
spring:
  boot:
    admin:
      client:
        url: [http://localhost:9990]
  application:
    name: example-service